* {
    margin: 0;
    padding: 0;
  }
.body{
    min-height: 5000px;
}
p{                 
    font-size: 15px;
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
h1{
    font-weight: normal;
    font-size: 51px;
}
h2{
    font-size: 35px;
    color: rgb(26, 41, 64);
    line-height: 0.771;
}
h3{
    font-size: 20px;
    color: rgb(255, 197, 1);
    line-height: 1.35;
}
/*___________________________________________||NAVEBARE CSS___________________________________________*/
   /*------NavBare Setup------*/
.navBar{
    width: 100%;
    height: fit-content; 
    background-color: #19283f;
    font-family: "Roboto", sans-serif;
    text-align:  center;
    position: fixed;
    /* position: relative;     */
}
.innerContainer{
    width: 70%;
    padding: 0px;
    display: inline-block;
}
.navBar div{
    display: inline-block;
}
.navBar .naveLogoImge{
    /* position: absolute;
    left: 10%;
    bottom: 15%; */
    float: left;
}
.navBar .innerContainer .navBarbuttons{
    /* position: absolute;
    right: 10%;
    top: 20%; */
    float: right;
    
}
.navBar .innerContainer .navBarbuttons span{
    padding: 5px;
}
.navBar .innerContainer .navBarbuttons span>a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(168, 185, 192);
}
.navBar .innerContainer .navBarbuttons .navbutton{
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
.navBar .innerContainer .navBarbuttons #separator{
    color: rgb(0, 198, 191);
    line-height: 1.8;
    font-size: 20px;
}
   /*------NavBare Decoration (:Active,:Hover)------*/
.navBar .innerContainer .naveLogoImge a #naveLogo:hover{
    cursor: pointer;
}
.navBar .innerContainer .navBarbuttons #home>a{
    color: rgb(0, 199, 192);
}
.navBar .innerContainer .navBarbuttons span a:Hover{
    color: rgb(0, 199, 192);
}
.navBar .innerContainer .navBarbuttons span #searchIconButton:hover{
    cursor: help;
}
.navBar .innerContainer .navBarbuttons span #searchFild{
        border-radius: 10% ;
        border: 2px solid rgb(0, 199, 192);
        display: none;        
}
.navBar .innerContainer .navBarbuttons #loginButton >a{
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1);
    padding: 5px 10px;
    border-radius: 10% ;
}
  
/*___________________________________________||HEADER CSS___________________________________________*/
.header{
    width: 100%;
    background-color: #19283f;
    text-align: center;
    height: 300px;
}
.header .innerContainer{
     margin: 7%; 
}
.header .innerContainer .headertext{
    color: rgb(240, 248, 251);
    
}
.header .innerContainer .headerGetStart {
    margin-top: 25px; 
}
.header .innerContainer .headerGetStart a{
    text-decoration: none;
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1);
    padding: 10px 30px;
    border-radius: 10% ;
    
}
/*___________________________________________||CONTENT CSS___________________________________________*/
/*------Content Setup------*/
.content{
    width: 100%;
    text-align: center;
}

/*------------------------- Section: 'good At Some Stuff' -------------------*/
    /*------ SubSection:: "Good At (Header) NetWorkImageBox" ------*/
.netWorkImageBox{
    padding-top: 40px;
}
.netWorkImageBox p,h2{
    margin-top: 10px;
}
.netWorkImageBox span{
    padding: 0px 70px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(0, 198, 191);
    border-bottom-style: solid;
}
    
    /*------ SubSection:: "Good At  (Image)" ------*/
.content .goodAt .innerContainer .goodAtStyff {
    margin-top: 50px;
}
.content .goodAt .innerContainer .goodAtStyff .staff{
    display: inline-block;
    width: 33%;
}
.content .goodAt .innerContainer .goodAtStyff .staff div{
    display: inline-block;
}
#staffImage1{
    background-image: url('../images/stuffNumber1.png');
    width: 79px;        
    height: 194px;
}
#staffImage2{
    background-image: url('../images/stuffNumber2.png');
    width: 132px;
    height: 194px;
}
#staffImage3{
    background-image: url('../images/stuffNumber3.png');
    width: 131px;
    height: 198px;
}
.content .goodAt .innerContainer .goodAtStyff .staff .staffImage{
    background-size: contain;        /* When reducing the size of the Div(width,hight) the backGround will resiz e based  on content contain*/
    background-repeat: no-repeat;
    background-position: center ;
    margin-bottom: 30px;     
}
.content .goodAt .innerContainer .goodAtStyff .staff .staffImage img{
    width: 61px;
    height: 60px;
    padding:  138px 0px 0px 28px;
}



/* From Here We Will Avoid OVERLY-SPECIFIC SELECTORS  */
/*------------------------- Section:'We MAke This' -------------------*/
    /*------ SubSection:: "We Make This Setup" ------*/
.weMakeThis{
    width: 100%;
    background-color:#eff7fa ;
}

    /*------ SubSection:: ""We Make This (Header) NetWorkImageBox" ------*/
/*!!!Already Stayled!!!*/
    /*------ SubSection:: ""We Make This (Header) NetWorkImageBox" ------*/
.ShowButtons button{
    background: none;
    border: none;
    margin: 10px;
    font-size: 15px;
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
.ShowButtons button:hover{
    cursor: pointer;
}
  
.ShowButtons .ProjectButtonActiv{
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1) ;
    padding: 5px 20px;
    border-radius: 11% ;
}
  