* {
    margin: 0;
    padding: 0;
  }
body{
    font-family: "Roboto", sans-serif;
}

p{                 
    font-size: 15px;
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
h1{
    font-weight: normal;
    font-size: 51px;
}
h2{
    font-size: 35px;
    color: rgb(26, 41, 64);
    line-height: 0.771;
}
h3{
    font-size: 20px;
    color: rgb(255, 197, 1);
    line-height: 1.35;
}
/*___________________________________________||NAVEBARE CSS___________________________________________*/
   /*------NavBare Setup------*/
.navBar{
    width: 100%;
    height: fit-content; 
    background-color: #19283f;
    font-family: "Roboto", sans-serif;
    text-align:  center;
    position: fixed;
    /* position: relative;     */
}
.innerContainer{
    width: 70%;
    padding: 0px;
    display: inline-block;
}
.navBar div{
    display: inline-block;
}
.navBar .naveLogoImge{
    /* position: absolute;
    left: 10%;
    bottom: 15%; */
    float: left;
}
.navBar .innerContainer .navBarbuttons{
    /* position: absolute;
    right: 10%;
    top: 20%; */
    float: right;
    
}
.navBar .innerContainer .navBarbuttons span{
    padding: 5px;
}
.navBar .innerContainer .navBarbuttons span>a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(168, 185, 192);
}
.navBar .innerContainer .navBarbuttons .navbutton{
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
.navBar .innerContainer .navBarbuttons #separator{
    color: rgb(0, 198, 191);
    line-height: 1.8;
    font-size: 20px;
}
   /*------NavBare Decoration (:Active,:Hover)------*/
.navBar .innerContainer .naveLogoImge a #naveLogo:hover{
    cursor: pointer;
}
.navBar .innerContainer .navBarbuttons #home>a{
    color: rgb(0, 199, 192);
}
.navBar .innerContainer .navBarbuttons span a:Hover{
    color: rgb(0, 199, 192);
}
.navBar .innerContainer .navBarbuttons span #searchIconButton:hover{
    cursor: help;
}
.navBar .innerContainer .navBarbuttons span #searchFild{
        border-radius: 10% ;
        border: 2px solid rgb(0, 199, 192);
        display: none;        
}
.navBar .innerContainer .navBarbuttons #loginButton >a{
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1);
    padding: 5px 10px;
    border-radius: 10% ;
}
  
/*___________________________________________||HEADER CSS___________________________________________*/
.header{
    width: 100%;
    background-color: #19283f;
    text-align: center;
    height: 300px;
}
.header .innerContainer{
     margin: 7%; 
}
.header .innerContainer .headertext{
    color: rgb(240, 248, 251);
    
}
.header .innerContainer .headerGetStart {
    margin-top: 25px; 
}
.header .innerContainer .headerGetStart a{
    text-decoration: none;
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1);
    padding: 10px 30px;
    border-radius: 10% ;
    
}
/*___________________________________________||CONTENT CSS___________________________________________*/
/*------Content Setup------*/
.content{
    width: 100%;
    text-align: center;
}

/*------------------------- Section: 'good At Some Stuff' -------------------*/
    /*------ SubSection:: "Good At (Header) NetWorkImageBox" ------*/
.netWorkImageBox{
    padding-top: 40px;
}
.netWorkImageBox p,h2{
    margin-top: 10px;
}
.netWorkImageBox span{
    padding: 0px 70px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(0, 198, 191);
    border-bottom-style: solid;
}
    
    /*------ SubSection:: "Good At  (Image)" ------*/
.content .goodAt .innerContainer .goodAtStyff {
    margin-top: 50px;
}
.content .goodAt .innerContainer .goodAtStyff .staff{
    display: inline-block;
    width: 33%;
}
.content .goodAt .innerContainer .goodAtStyff .staff div{
    display: inline-block;
}
@media(max-width: 900px){
    .content .goodAt .innerContainer .goodAtStyff .staff{
        display: block;
        width: 100%;
    }
}
#staffImage1{
    background-image: url('../images/stuffNumber1.png');
    width: 79px;        
    height: 194px;
}
#staffImage2{
    background-image: url('../images/stuffNumber2.png');
    width: 132px;
    height: 194px;
}
#staffImage3{
    background-image: url('../images/stuffNumber3.png');
    width: 131px;
    height: 198px;
}
.content .goodAt .innerContainer .goodAtStyff .staff .staffImage{
    background-size: contain;        /* When reducing the size of the Div(width,hight) the backGround will resiz e based  on content contain*/
    background-repeat: no-repeat;
    background-position: center ;
    margin-bottom: 30px;     
}
.content .goodAt .innerContainer .goodAtStyff .staff .staffImage img{
    width: 61px;
    height: 60px;
    padding:  138px 0px 0px 28px;
}



/* From Here We Will Avoid OVERLY-SPECIFIC SELECTORS  */
/*------------------------- Section:'We MAke This' -------------------*/
    /*------ SubSection:: "We Make This Setup" ------*/
.weMakeThis{
    width: 100%;
    background-color:#eff7fa ;
}

    /*------ SubSection:: ""We Make This (Header) NetWorkImageBox" ------*/
/*!!!Already Stayled!!!*/
    /*------ SubSection:: ""We Make This  'Buttons' ------*/
.ShowButtons button{
    background: none;
    border: none;
    margin: 10px;
    font-size: 15px;
    color: rgb(168, 185, 192);
    line-height: 1.8;
}
.ShowButtons button:hover{
    cursor: pointer;
}
  
.ShowButtons .ProjectButtonActiv{
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1) ;
    padding: 5px 20px;
    border-radius: 11% ;
}

    /*------ SubSection:: ""We Make This 'Projects Images'" ------*/
.projects  .projectsImages{
    margin-top: 50px;
    width: 100%;
    text-align:center;
}
.projectsImages img{
    width: 20%;
    height: 25%;
    padding: 0px 15px 15px;

}
@media(max-width: 900px){
    .projectsImages img{
        width: 30%;
        height: 30%;
    }
}
@media(max-width: 700px){
    .projectsImages img{
        width: 100%;
        height: 100%;
    }
}

.Mask {
    background-color: #19283f;
    opacity: 0.8;
    position: absolute;
    left: 375px;
    top: 1631px;
    width: 270px;
    height: 200px;
    z-index: 170;
  }

    /*------ SubSection:: ""We Make This ' I want More '" ------*/
.projects .projectsIwantMore{
    margin: 50px 0px;
}
.projects .projectsIwantMore a{
    text-decoration: none;
    background-color: rgb(255, 49, 80);
    padding: 15px 30px;
    color: rgb(255, 197, 1);
    border-radius: 10% ;
    
}
/*------------------------- Section:'STUFF ABOUT US' -------------------*/
    /*------ SubSection:: "STUFF ABOUT US Setup" ------*/
.stuffAboutUs{
    width: 100%;
    text-align: center;
}
    /*------ SubSection:: ""STUFF ABOUT US (Header) NetWorkImageBox" ------*/
/*!!!Already Stayled!!!*/
    /*------ SubSection:: ""STUFF ABOUT US  'Retina Desgins' ------*/
         /*---Text---*/
.stuffAboutUs .retinaDesgin{
    margin-top: 15px;
}
.stuffAboutUs .retinaDesgin .retinaText{
    float: left;
    width: 30vmax;
    padding: 20px;

}
.stuffAboutUs .retinaDesgin .retinaText .paragraph{
    text-align: left;
}
.stuffAboutUs .retinaDesgin .retinaText .paragraph p{
    padding-top: 5px;
}
.stuffAboutUs .retinaDesgin .retinaText .orderMeOne {
    margin: 20px 0px;
}
.stuffAboutUs .retinaDesgin .retinaText .orderMeOne a{
    text-decoration: none;
    background-color: rgb(255, 49, 80);
    padding: 15px 30px;
    color: rgb(255, 197, 1);
    border-radius: 10% ;
}
         /*---Image---*/
.stuffAboutUs .retinaDesgin .retenaimage>img{

    max-width: 50%;
}

/*------------------------- Section:'Meet The Team' -------------------*/
    /*------ SubSection:: "'Meet The Team " ------*/
.meetTheTeam{
    width: 100%;
    background-color: rgb(239, 247, 250);
    padding-bottom: 40px;
}
    /*------ SubSection:: "'Meet The Team (Header) NetWorkImageBox" ------*/
 /*!!!Already Stayled!!!*/
    /*------ SubSection:: "'Meet The Team'  'teamImages' ------*/
             /*---teamImages---*/
.teamImages {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}
.teamImages .member  {
    background-color: white;
    width:300px;
    border-radius: 10px;
    
}
@media (max-width: 900px){
    .teamImages .member  {
        text-align: center;
        background-color: white;
        width:100%;
        margin-top: 40px;
    }
}
.teamImages .member img{
    height: 200px; 
}
.teamImages .member .name{
    padding: 15px 0px;
    background-color: #33cccc;
}
.teamImages .member .brief{
    padding: 15px;
}
/*------------------------- Section:'Sponsores' -------------------*/
.sponsores{
    margin-top: 30px;
}
.sponsores .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*------------------------- Section:'subscription' -------------------*/
.subscription{
    margin-top: 10px;
    padding: 10px;
    background-color: #ffcc00;
}
@media (min-width: 800px){
    .subscription * {
        margin-left: 30px;
    }
}
.subscription p{
    display: inline-block;
    color: #19283f;
    font-size:larger;
}
.subscription input{
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid white;
    background-color:  #ffcc00;
}
.subscription input::placeholder{
    opacity: 0.75;
}
.subscription button{
    border: none;
    outline: none;
    color:#ffcc00;
    font-size: 15px;
    padding: 10px 30px;
    background-color: #19283f;
    border-radius: 20px;

}
/*___________________________________________||FOOTER] CSS___________________________________________*/
footer{
    width: 100%;
    background-color: #19283f;
    text-align: center;
    padding-top: 10px;
}
.footerM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width: 900px){
    .footerM div{
        display: block;
    }
}
.FooterContactUs{
    padding-bottom: 20px;
}
.FooterContactUs *{
    padding: 5px;
}
.FooterContactUs p:first-child{
    font-size: 20px;
    font-weight: bolder;
}
.FooterContactUs a{
    text-decoration: none;
    background-color: rgb(255, 49, 80);
    color: rgb(255, 197, 1);
    padding: 10px 30px;
    border-radius: 20px ;
}
.footerLogo p:nth-child(3) span{
    color: #009999;
}
.footerLogo p:last-child span{
    color: #ffcc00;
}

/*___________________________________________||Follw ME] CSS___________________________________________*/
#follwoMe{
    position: absolute;
    display: none;  
    transition: all 2s linear ;

}
#follwoMe img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 0.4rem black);

    
}
/*___________________________________________||POP UP DISPLAY] CSS___________________________________________*/
#displayProjects{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color:rgb(0, 0, 0, 0.5);
    left: 0;
    top: 0px;
    overflow: auto;
    /* display: none; */
    text-align: center;
}
#displayProjects img{
    margin-top: 40px;
    width: 90%;
}
#displayProjects button{
    position: absolute;
    top: 5px;
    right: 30px;
    border: none;
    outline: none;
    background: none;
    color:rgb(255, 49, 80);
    font-size: 30px;
}
#displayProjects button:hover{
    background-color: #19283f;
    padding: 10px 30px;
    background-color: #19283f;
    border-radius: 20px;
    cursor: pointer;
}
@media (min-width: 800px){
    #displayProjects img{
        width: 60%;
    }
}