body {
    background-image: url("../images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px;
}
input{
margin: 10px;
border: 2px solid rgb(5, 24, 231);
border-radius: 5px;
}
fieldset{
width: 200px;
}
span#required::after{
content: '*';
color: red;
}
input[type=email]:invalid{
border: 1px solid rgb(0, 0, 0);
}
input[type=email]:valid{
color: rgb(5, 24, 231);
}
.rounded{
 border-radius: 50%;
 padding: 15px;
 background-color:rgb(5, 24, 231);
 font-size: 20px;
 color: white;
 text-decoration: none;
}
